body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    background-image: url(../media/orangefloral.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
header{
    background-color: #E28B5A;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    border-color: #935430;
}
footer{
    font: 400 1em 'Fira Sans', sans-serif;
    background-color: #E28B5A;
    opacity: 0.8;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    border-style: solid;
    border-color: #935430;
}
article{
    display: flex;
    flex-direction:column;
    height:500px;
    flex-wrap:wrap;
    justify-content:space-between;
}
section{
    flex:1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    min-width: 250px;
    max-width: 600px;
    min-height: 200px;
    /* opacity is optional - if you have a background photo, it will allow the photo to show through the color */
    opacity: 0.9;
}
h1{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-shadow:1px 1px black;
    color: #FEF8EC;
    text-align: center;
}
h2{
    font-family: 'Fira Sans', sans-serif;
    color: #497c5f;
    font-size: 2.1em;
    text-shadow: 1px 1px black;
    width: 100%;
   /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 1em;
    opacity: 0.9;
    border-radius: 6px;
}
nav {
    margin:0px;
    width:100%;
    height:auto;
}
nav ul {
    background: rgba(255, 255, 255, 0.8);
    /* box-shadow settings can be whatever you want */
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    color: #497c5f;
    /* font-weight can be whatever you want */
    /*font-weight: 900; */
}
nav ul li {
    display:inline-table;
    margin:10px;
    padding:5px;
    color: #497c5f;
}
nav ul li:hover {
    color: #935430;
    /*  font-size should be a relative measurement */
    font-size: 1.1em;
}
nav ul li a {
    display: block;
    /* the padding can be in pixels */
    padding: 5px 10px;
    color: #497c5f;
    text-shadow: 1px 1px black;
    text-decoration: none;
}
nav ul li:hover a {
    color: #E28B5A;
    text-decoration: none;
}
nav ul li:hover > ul {
    display:flex;
    flex-direction:column;
}

nav ul ul {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    /* the border color can be whatever you want */
    border: 2px solid black;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
   /*  font-size should be a relative measurement */
    font-size: 1em;
    z-index:10;
}

nav ul ul li {
    display:block;
    /*  you can adjust the border top and bottom colors to whatever you want */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    text-align: left;
    background: rgba(255, 163, 92, 0.8);
}
nav ul ul li a {
    padding: 15px;
    color: #497c5f;
}    
nav ul ul li a:hover {
    background: rgba(255, 168, 130, 0.924);
    color: #E28B5A;
}