@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
body {
	margin: 0;
	padding: 0;
	background-color: #cffdff;
	font-family: dynaPuff, 'Lato', sans-serif;
    color: #333;}

header {
	background-color: lightsalmon;
	margin: 0 0 40px 0;
	padding: 15px 0 0 0;
	min-height: 50px;
	text-align: center;}

h1 {
  color:white;
  margin: 10px auto 5px auto;
  text-align: center;
  overflow: hidden;
  font-size: 3em;
}



#buttons, #search {
	text-align: center;
	margin-bottom: 30px;}

button {
	background-color: #e8d3bc;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-family: dynaPuff, 'Lato', sans-serif;
	font-size: 100%;}

button:hover, button.active {
	background-color: #00cccc;
	color: #fff;
	cursor: pointer;}

/* Gallery of images */
#gallery {
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;}

#gallery img {
	width: 300px;
	height: 200px;
	border-radius: 3px;
	border: 8px solid #ffd19f;
    border-radius: 3px;
	margin: 6px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
	float: left;}


/* Table styles */
table {
	margin: 0 auto;
	width: 780px;}
table#rates	{width: 380px;}
th, td {
	border-radius: 3px;
	color: #333;
	padding: 7px 10px 5px 10px;
	min-width: 9em;
	text-align: left;}
th {
	background-color: #d7d7d7;
	font-weight: bold;
	text-transform: uppercase;}
td {
	background-color: #fff;}
table.sortable th:hover {
	cursor: pointer;}
th.ascending, th.descending, table.sortable th:hover {
	background-color: #00cccc;
	color: #fff;}

/* Arrows for table sorting */
th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0 0;}
th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0 0;}

.about {
	width: 780px;
	margin: 0 auto 40px auto;}
.about:after {
  content: "";
  display: table;
  clear: both;}
.about h2 {
  text-align: left; 
  float: left;}

.bio {
	float: right;
	width: 195px;}
.bio img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;}

.location {
	padding-left: 74px;
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
	background-position: 60px 1px;
	font-size: 90%;}